<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.tplink.iot" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_notification"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalonKristinaCompanion">

        <activity
            android:name=".DoorCommandActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DoorDeepLinkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.SalonKristinaCompanion.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="door"
                    android:pathPrefix="/"
                    android:scheme="salonkristina" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoilerDeepLinkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.SalonKristinaCompanion.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="boiler"
                    android:pathPrefix="/"
                    android:scheme="salonkristina" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReturnToSalonActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true" />

        <receiver
            android:name=".AutoReturnReceiver"
            android:exported="false" />

        <service
            android:name=".DoorAccessibilityService"
            android:description="@string/accessibility_description"
            android:exported="false"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
